- if @incident.with_post_mortem?
  .level-item
    %a.button.is-primary.edit-post-mortem.modal-button{'data-target' => "#edit-incident-modal"}
      %span.icon
        %i= fa_icon 'edit'
      %span Post Mortem bearbeiten
  .level-item
    %a.button.is-danger.delete-post-mortem{href: clear_project_incident_path(@project, @incident), remote: true, method: :delete, data: {confirm: 'Möchten Sie den Post Mortem löschen?'}}
      %span.icon
        %i= fa_icon 'trash'
      %span Post Mortem löschen
- else
  %a.button.is-primary.new-post-mortem.modal-button{'data-target' => "#new-incident-modal"}
    %span.icon
      %i= fa_icon 'plus'
    %span Post Mortem anlegen
