// COLOR SETTINGS
// ==============

// General Color Definitions
// -------------------------
$white:                                 hsl(192, 1%, 99%);
$white-gray:                            hsl(192, 2%, 97%);
$dark-grey:                             hsl(200, 23%, 97%);
$gray:                                  hsl(192, 5%, 82%);
$default-grey:                          hsl(192, 2%, 60%);
$medium-gray:                           hsl(192, 2%, 40%);
$dark-grey:                             hsl(192, 5%, 20%);

// CD
// --
$blue:                                  hsl(183, 93%, 29%);
$dark-blue:                             hsl(192, 100%, 19%);
$light-blue:                            hsla(192, 100%, 30%, 0.5);
$green:                                 hsl(169, 100%, 30%);
$red:                                   hsl(352, 100%, 66%);
$dark-red:                              hsl(352, 65%, 51%);
$light-red:                             hsla(352, 100%, 66%, 0.2);
$transparent:                           hsla(0, 0%, 100%, 0);


// Fonts
// -----
$font-color:                            $dark-grey;
$headline-font-color:                   $dark-grey;
$light-font-color:                      $default-grey;
$link-color:                            $red;
$link-hover-color:                      $red;
$background-color:                      rgb(255, 255, 255);

$border-color:                          transparentize($font-color, 0.7);

// Gradient
// --------
$gradient:                              141deg, $blue 0%, $green 100%;
$webkit--gradient:                      right , #009A7D 0%, #008990 100%;

// LAYOUT SETTINGS
// ===============
$layout--breakpoints: (
  default: 480px
) ;

$layout--horizontal-spacing-unit:   2.5rem;
$layout--vertical-spacing-unit:     1.5rem;
$layout--wrapper-width:             1600px;

// Setup the grid
// --------------
$layout--grid-gutter:               $layout--horizontal-spacing-unit;
$layout--grid-fractions:            1 2 3 4 5 6 7 8 9 10;

$layout--grid-render-breakpoints:   true;

// TYPOGRAPHIC SETTINGS
// ====================

// Half of the line-height
// ! Without a unit
// ! Make sure to use the same names as in your breakpoints
$typography--rootsizes: (
  default: 10  // Means 20px line-height
);

// You can use multiple scale
// ! Name them like your breakpoints
// ! Don’t use a unit
$typography--scale: (
  default: (
    huge: (
      font-size: 40,
      letter-spacing: -0.7
    ),
    bigger: (
      font-size: 32,
      letter-spacing: -0.5
    ),
    big: (
      font-size: 20
    ),
    medium: (
      font-size: 14
    ),
    default: (
      font-size: 10,
      letter-spacing: 0.1
    ),
    small: (
      font-size: 8.5,
      letter-spacing: 0.2,
      line-height: 1.6
    ),
    smallest: (
      font-size: 7,
      letter-spacing: 0.3,
      line-height: 1.5
    )
  )
);

$typography--defaulttype: (font-family: '"SanukPro", serif', regular: 400, bold: 700, italic: italic, cap-height: 1);
