= link_to projects_index_path(show_archive: !(params[:show_archive] == "true")), remote: true,
          class: "toggle-archived button #{'is-primary' if (params[:show_archive] == "true")}" do
  %span.icon
    = fa_icon 'archive'
  %span Archiv
