%table.table.is-fullwidth
  %thead
    %tr
      %th Datum
      %th Problem
      %th Betroffender Server

  %tbody
    - @incidents.each do |incident|
      %tr
        %td= I18n.localize(incident.time_from, format: :dateshort)
        %td
          -if incident.what_happened != nil
            =incident.what_happened.truncate(15)
        %td
          -if incident.which_server != nil
            = incident.which_server
