%a.nav-menu
  = fa_icon "angle-down 2x", class: 'user-options'
#nav-dropdown.nav-dropdown
  %ul.has-text-centered
    %li.current-user
      %span Name
      %br/
      %span Email
    %li.divider
    %li.profile Profil
    %li.users User-Verwaltung
    %li.notifications Benachrichtigungen
    %li.sign-out Abmelden
