- if flash[:notice].present?
  .flash-message.notification.is-info.has-text-centered
    %button.delete
    %p= flash[:notice]

- if flash[:alert].present?
  .flash-message.notification.is-danger.has-text-centered
    %button.delete
    %p= flash[:alert]

- if flash[:success].present?
  .flash-message.notification.is-success.has-text-centered
    %button.delete
    %p= flash[:success]
