!!!
%html{lang: 'de', class: 'no-js no-touch'}
  %head
    %meta{charset: 'utf-8'}
    %title Report
    = wicked_pdf_stylesheet_link_tag 'report/report'
  %header
    .o-page-header_gradient
    .o-page-header_logo
