!!!
%html{lang: 'de', class: 'no-js no-touch'}
  %head
    %meta{charset: 'utf-8'}
    %title Report
    = wicked_pdf_stylesheet_link_tag 'report/report'
    = javascript_include_tag 'report/application', defer: true
    = Gon::Base.render_data(camel_case: true, init: true)

  %body
    %main#page-main.page-main{tabindex: -'1'}
      = yield
